.group-child {
    position: absolute;
    top: 10.67px;
    left: 0px;
    border-radius: 5px;
    background-color: #d9d9d9;
    width: 36px;
    height: 5.3px;
}
.group-item {
    position: absolute;
    top: 21.33px;
    left: 0px;
    border-radius: 5px;
    background-color: #d9d9d9;
    width: 36px;
    height: 5.3px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #d9d9d9;
    width: 36px;
    height: 5.3px;
}
.rectangle-parent {
    position: absolute;
    top: 28px;
    left: 1214px;
    width: 36px;
    height: 26.7px;
    cursor: pointer;
}
.home {
    position: absolute;
    top: 17px;
    left: 77px;
    font-size: 48px;
    font-family: Inter;
    text-align: left;
    display: inline-block;
    width: 325px;
    height: 54px;
}
.macbook-air-7-child {
    position: absolute;
    top: 20px;
    left: 16px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.four-students-from {
    margin: 0;
}
.four-students-from-container {
    position: absolute;
    top: 2417px;
    left: 0px;
    font-size: 20px;
    font-family: Inter;
    display: inline-block;
    width: 1280px;
    height: 77px;
}
.macbook-air-7-item {
    position: absolute;
    top: 154px;
    left: 0px;
    background-color: rgba(227, 196, 129, 0.51);
    width: 1280px;
    height: 63px;
}
.bread-sweet {
    position: absolute;
    top: 154px;
    left: -23px;
    font-size: 48px;
    font-weight: 200;
    font-family: Inter;
    display: inline-block;
    width: 445px;
    height: 75px;
}
.meron-bata-1-icon {
    position: absolute;
    top: 375px;
    left: -21px;
    width: 661px;
    height: 519px;
    object-fit: cover;
}
.karameru-deni-1-icon {
    position: absolute;
    top: 1696px;
    left: 682px;
    width: 598px;
    height: 449px;
    object-fit: cover;
}
.icon {
    position: absolute;
    top: 1005px;
    left: -23px;
    width: 877px;
    height: 554px;
    object-fit: cover;
}
.icon1 {
    position: absolute;
    top: 1466px;
    left: -230px;
    width: 1155px;
    height: 740px;
    object-fit: cover;
}
.salt-bread {
    position: absolute;
    top: 875px;
    left: 279px;
}
.sata-andagi {
    position: absolute;
    top: 2168px;
    left: 86px;
    display: inline-block;
    width: 554px;
    height: 75px;
}
.strawberry-cream-danish-container {
    position: absolute;
    top: 2145px;
    left: 794px;
    font-size: 48px;
    display: inline-block;
    width: 554px;
    height: 75px;
}
.melon-bread {
    position: absolute;
    top: 335px;
    left: 115px;
}
.french-toast {
    position: absolute;
    top: 1349px;
    left: 542px;
    display: inline-block;
    width: 566px;
    height: 75px;
}
.icon2 {
    position: absolute;
    top: 229px;
    left: 523px;
    width: 757px;
    height: 905px;
    object-fit: cover;
}
.ice-cream {
    position: absolute;
    top: 570px;
    left: 854px;
}
.caramel-orange-bread-container {
    position: absolute;
    top: 1584px;
    left: 421px;
    font-size: 48px;
    display: inline-block;
    width: 685px;
    height: 161px;
}
.macbook-air-7 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2494px;
    overflow: hidden;
    text-align: center;
    font-size: 64px;
    color: #000;
    font-family: Lemon;
}

.menu-button-open {
	position: fixed;
	width: 90px;
	height: 92px;
	top: 0;
	right: 20px;
	z-index: 1000;
	font-weight: 400;
	color: #000000;
	font-size: 80px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #cacaca;
	cursor : pointer;
  }
  
  #menu-check {
	display: none;
  }
  
.menu-overray-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(128, 128, 128, 0);
	transition-duration: 0.2s;
  }
  
  #menu-check:checked ~ .menu-overray-bg {
	background-color: rgba(128, 128, 128, 0.5);
  }  
  #menu-check:not(:checked) ~ .menu-overray-bg {
	display: none;
	z-index: 1;
	background-color: rgba(128, 128, 128, 0);
  }
  
 .menu-overray {
	position: fixed;
	width: 30%;
	height: 100%;
	top: 0;
	left: 100%;
	z-index: 101;
	background-color:aliceblue;
	transition-duration: 0.2s;
  }
.menu-container {
	position: relative;
	top: 100px;
	display: flex;
	flex-flow: column;
	align-items: center;
  }
  
.menu-overray a {
	font-size: 48px;
	padding: 0.5em;
  }
  
  #menu-check:checked ~ .menu-overray {
	left: 70%;
  }  